@import './Variables.scss';

.btn {
    z-index: 100;
    width: 90%;
    height: 65px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $second-color;
    background-color: black;
    border-radius: 5px;
    border: 3px solid $second-color;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}