@import './Variables.scss';
@import './Mixins.scss';
@import './Components.scss';

.homepage {
    background: url(../images/local/background-pexels-afta-putta-gunawan-683039.jpg) no-repeat center / cover;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    &__cover {
        position: absolute;
        top: 0;
        width: 100%;
        min-height: 100vh;
        
        background-color: $dark-cover;
    }
    &__wrapper {
        z-index: 10;
        background-color: $main-color;
        height: 50vh;
        position: relative;
        margin: 50px 0 30px 0;
        padding: 5%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 90%;
        @include tablet {
            margin-top: 10px;
            width: 650px;
            height: 40%;
        }
    }
    &__text {
        color: $second-color;
        line-height: 1.5rem;
        text-align: justify;
        letter-spacing: .05rem;
        word-spacing: -0.1rem;
        @include tablet {
            line-height: 2rem;
        }
    }
    &__title {
            display: block;
            text-align: center;
            font-size: 1.2rem;
            margin-bottom: 10px;
            @include tablet {
                font-size: 1.75rem;
                margin-bottom: 15px;
            }
    }
    &__buttons {
        z-index: 10;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include tablet {
            width: 650px;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__btn--1 {
        margin-bottom: 15px;
        background-color: $main-color;
        @include tablet {
            margin: 0;
            width: 290px;
        }
        @include desktop {
            &:hover {
                background-color: $second-color;
                color: $main-color;
                border-color: $main-color;
                text-decoration: underline;
            }
        }
    }
    &__btn--2 {
        background-color: $second-dark;
        @include tablet {
            width: 290px;
        }
        @include desktop {
            &:hover {
                background-color: $second-color;
                color: $second-dark;
                border-color: $second-dark;
                text-decoration: underline;
            }
        }
    }
}
